.section-contacts {
    padding-top: 110px;
    padding-bottom: 110px;
    background: url('../img/contact-bg.png') center/cover no-repeat;
    @include mobile {
        padding-top: 50px;
        padding-bottom: 50px;
        }
    @include tablet {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    &__title {
        color: var(--c-primary);
            font-family: var(--ff);
            font-size: 53px;
            font-weight: 400;
            letter-spacing: 5.3px;
            text-transform: uppercase;
            margin-bottom: 80px;
        @include tablet {
            text-align: center;
        }
    }
}


.map {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(6px);
    display: flex;
    gap: 74px;
    @include desktop-small {
            flex-direction: column-reverse;
            align-items: center;
            padding: 60px;
            gap: 0;
            padding-top: 0;
        }

    &__img {
        flex-shrink: 0;
        max-width: 638px;
        padding-left: 34px;
        display: flex;
        align-items: center;
        @include mobile {
            padding-left: 0;
            justify-content: center;
        }
    }

    &__info {
        margin-right: 67px;
        @include mobile {
            margin-right: 0;
        }
        
    }
    &__header {
        display: flex;
        justify-content: flex-end;
        padding-right: 67px;
        margin-bottom: 17px;
        @include tablet {
            justify-content: center;
            padding-right: 0;
        }
    }

    &__logo {
        border-radius: 0px 0px 30px 30px;
        background: #F9CE37;
        display: inline-block;

        padding: 35px 18px;
        position: relative;
        color: #353535;
        font-family: var(--ff-second);
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        @include mobile {
            border-radius: 30px 30px 30px 30px;
        }
    
        div:last-child {
            color: #F5F5F5;
            font-family: var(--ff);
            font-size: 16px;
            font-weight: 400;
            text-transform: lowercase;
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
        }

    }
}

.contact {

    &__header {
        display: inline-flex;
        align-items: center;
        gap: 27px;
        color: var(--c-primary);
        font-family: var(--ff);
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        @include mobile {
            font-size: 26px;

        }
    
        span {
            color: var(--c-header-link);
            font-size: 60px;
            line-height: 180%;
            letter-spacing: 2.4px;
            @include mobile {
                font-size: 36px;            
            }
    
        }}
    
    &__footer {
        color: var(--c-header-link);
        font-family: var(--ff);
        font-size: 60px;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: 2.4px;
        margin-bottom: 40px;
        @include mobile {
            font-size: 36px;
            margin-bottom: 0;
        }
    }    
    &__desc {
        color: var(--c-text);
        font-family: var(--ff);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 19px;
        
    }

}

.contact-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 3px;
    
    &__icon {
        color: var(--c-primary);
        font-family: var(--ff);
        font-size: 32px;
        font-weight: 400;
        line-height: 103px;
        letter-spacing: 1.28px;
        min-width: 42px;
    }

    &__text {
        color: var(--c-text);
        font-family: var(--ff-second);
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        @include mobile {
            font-size: 16px;
            letter-spacing: 0;
        }
    }

    

    
}